@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #dbeafe, #f0f9ff);
  min-height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.app {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  
}


.app {
  margin: 0 auto; 
}


.header h1 {
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #4338ca;
}

.subtitle {
  color: #334155;
  margin-bottom: 15px;
}

.saved-pill {
  display: inline-block;
  color:#4338ca;
  padding: 8px 18px;
  border-radius: 25px;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  font-size: 14px;
}

.search-wrapper input {
  width: 60%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  margin: 25px 0;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  font-size: 14px;
  color: black;
}


.toggle button {
  padding: 8px 20px;
  margin: 0 8px 25px 8px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color:#4338ca;
  background: rgba(255,255,255,0.7);
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.toggle .active {
  background: #6366f1;
  color: white;
}


.job-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}


.job-card {
  background: rgba(255,255,255,0.7);
  color:#4338ca;
  backdrop-filter: blur(15px);
  padding: 25px;
  border-radius: 18px;
  text-align: center; 
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.meta {
  font-size: 14px;
  color: #6b7280;
  text-align: center;
}

.salary {
  display: inline-block;
  margin: 12px auto; 
  padding: 6px 12px;
  border-radius: 20px;
  background: #eef2ff;
  color: #4338ca;
  font-size: 13px;
  text-align: center;
}

.desc {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.save-btn{

  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
  margin: 0 auto; 
  display: inline-block;
}

 .saved-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: rgb(7, 202, 7);
  color: white;
  cursor: pointer;
  margin: 0 auto; 
  display: inline-block;
}

.loading,
.empty {
  margin-top: 40px;
  color: #6b7280;
}

@media (max-width: 900px) {
  .job-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .job-grid {
    grid-template-columns: 1fr;
  }
}